# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
pyvenv.cfg

Scripts/*

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/
.venv/
.env/
.venv.bak/
.env.bak/

# Flask specific
instance/
*.sqlite3

# Pytest cache
.cache/
.pytest_cache/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Secrets
*.pem
*.key
*.env

# Other
*.swp
*~
